<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="rlottie viewer">
    <meta name="keywords" content="lottie, rlottie, lottie viewer, rlottie viewer">
    <meta name="author" content="Subhransu">
    <title>rlottie viewer</title>
    <link rel="stylesheet" href="style.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
    <!-- vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  </head>

  <body>
    <v-app class="window" id="app">
      <div class="row no-gutters">
        <!-- navbar component -->
        <navbar @viewcount-changed="changeIsMultiView" @exportdialog-changed="exportdialog = false" :exportdialog="exportdialog" class="col-12 zindex2"></navbar>
        <!-- leftPanel component -->
        <leftpanel @layer-selected="layerSelected" :layers="layers" :canvasid="selectedCanvasId" :trigger="selectedLayerTrigger" class="col-3 zindex2"></leftpanel>
        <!-- player  -->
        <div class="col-6 bg-white">
          <div id="player" class="player d-flex flex-column justify-content-between">
            <div class="screen my-auto mx-auto d-flex justify-content-center align-items-center">
              <div class="my-auto mx-auto d-flex justify-content-center align-items-center row" id="content">
                <!-- canvas 1 -->
                <div
                  class="d-flex justify-content-center align-items-center"
                  :class="{ 'col-6': isMultiView, 'col-12': !isMultiView }"
                >
                  <v-chip
                    v-if="isMultiView"
                    class="mr-2 canvas-chip text-caption"
                    color="canvas"
                    small
                  >1</v-chip>
                  <canvas
                    class="common-canvas"
                    :class="{ 'multiview-resizing': isMultiView, 'selected-canvas': isCanvas1Selected&&isMultiView }"
                    v-show="isMultiView | (!isMultiView&&isCanvas1Selected)"
                    id="myCanvas1"
                    @click="selectCanvas(0)">
                  </canvas>
                </div>
                <!-- canvas 2 -->
                <div
                  class="d-flex justify-content-center align-items-center"
                  :class="{ 'col-6': isMultiView, 'col-0': !isMultiView }"
                >
                  <v-chip
                    v-if="isMultiView"
                    class="mr-2 canvas-chip text-caption"
                    color="canvas"
                    small
                  >2</v-chip>
                  <canvas
                    class="multiview-resizing"
                    :class="{ 'selected-canvas': isCanvas2Selected&&isMultiView }"
                    v-show="isMultiView | (!isMultiView&&isCanvas2Selected)"
                    id="myCanvas2"
                    @click="selectCanvas(1)">
                  </canvas>
                </div>
                <!-- canvas 3 -->
                <div
                  class="d-flex justify-content-center align-items-center"
                  :class="{ 'col-6': isMultiView, 'col-0': !isMultiView }"
                >
                  <v-chip
                    v-if="isMultiView"
                    class="mr-2 canvas-chip text-caption"
                    color="canvas"
                    small
                  >3</v-chip>
                  <canvas
                    class="multiview-resizing"
                    :class="{ 'selected-canvas': isCanvas3Selected&&isMultiView }"
                    v-show="isMultiView | (!isMultiView&&isCanvas3Selected)"
                    id="myCanvas3"
                    @click="selectCanvas(2)">
                  </canvas>
                </div>
                <!-- canvas 4 -->
                <div
                  class="d-flex justify-content-center align-items-center"
                  :class="{ 'col-6': isMultiView, 'col-0': !isMultiView }"
                >
                  <v-chip
                    v-if="isMultiView"
                    class="mr-2 canvas-chip text-caption"
                    color="canvas"
                    small
                  >4</v-chip>
                  <canvas
                    class="multiview-resizing"
                    :class="{ 'selected-canvas': isCanvas4Selected&&isMultiView }"
                    v-show="isMultiView | (!isMultiView&&isCanvas4Selected)"
                    id="myCanvas4"
                    @click="selectCanvas(3)">
                  </canvas>
                </div>
              </div>
            </div>
            <!-- snapshot -->
            <div class="zindex3 d-flex justify-content-end mr-3 mb-3">
              <v-dialog
                v-model="snapshotDialog"
                max-width="500"
              >
                <template v-slot:activator="{ on, attrs }">
                  <button
                    class="btn canvas" 
                    :class="{ 'text-white': $vuetify.theme.dark }" 
                    depressed 
                    v-bind="attrs"
                    v-on="on"
                    @click="clickSnapShot"
                  >
                    <em class="fas fa-camera"></em>
                  </button>
                </template>
                <v-card>
                  <v-card-title class="headline">
                    Export file to PNG
                  </v-card-title>
                  <div class="d-flex justify-content-center snapshot-container">
                    <img id="snapshot-image" height="250" :src="snapshotURL" alt="">
                  </div>
                  <v-card-text>
                    <div class="d-flex align-items-center">
                      <v-text-field
                        solo-reverse
                        color="text"
                        placeholder="File name"
                        v-model="snapshotName"
                      ></v-text-field>
                      <v-btn class="btn ml-4" color="canvas" :href="snapshotURL" :download="snapshotName">Download</v-btn>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="text"
                      text
                      @click="clickSnapshotClose"
                    >Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </div>
            <!-- toolbox -->
            <div class="toolbox zindex2">
              <div class="collapse" id="collapseExtraTools">
                <div class="extra-tools d-flex justify-content-around align-items-center">
                  <div class="d-flex flex-column justify-content-center align-items-center mx-3">
                    <v-row class="align-items-center">
                      <v-col cols="12">
                        <v-select
                          color="grey lighten-5"
                          v-model="defaultSpeed"
                          :items="speed"
                          :menu-props="{ top: true, offsetY: true }"
                          label="Play Speed"
                          @change="changePlay"
                        ></v-select>
                      </v-col>
                    </v-row>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center mx-3">
                    <v-row class="align-items-center">
                      <v-col cols="12">
                        <v-select
                          color="grey lighten-5"
                          v-model="defaultType"
                          :items="types"
                          :menu-props="{ top: true, offsetY: true }"
                          label="Play Type"
                          @change="changePlayType"
                        ></v-select>
                      </v-col>
                    </v-row>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center mx-3">
                    <v-row class="align-items-center">
                      <v-col cols="12">
                        <v-select
                          color="grey lighten-5"
                          v-model="defaultDirection"
                          :items="directions"
                          :menu-props="{ top: true, offsetY: true }"
                          label="Play Direction"
                          @change="changePlay"
                        ></v-select>
                      </v-col>
                    </v-row>
                  </div>
                </div>
              </div>
              <!-- playbar -->
              <div class="d-flex justify-content-around align-items-center toolbox-basic" id="playbar">
                <span class="play-button" type="button" id="playButton" onclick="buttonClicked()"><em class="fas fa-pause"></em></span>
                <div class="d-flex flex-column align-items-between">
                  <input class="player-slider mb-1" type="range" id="slider" min="0" max="100" value="0" oninput="onSliderDrag(this.value)">
                  <div class="d-flex justify-content-between">
                    <span class="badge badge-light" id="currentFrame"></span>
                    <span class="badge badge-light" id="frameCount"></span>
                  </div>
                </div>
                <span class="" data-toggle="collapse" href="#collapseExtraTools" role="button" 
                  aria-expanded="false" aria-controls="collapseExtraTools" @click="extraButtonClick()">
                  <em class="fas fa-bars"></em>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- right panels - property component and preference component -->
        <property v-if="selectedLayer" :selected-layer="selectedLayer" :canvasid="selectedCanvasId" :multiview="isMultiView" @shortcutdialog-changed="shortcutdialog = false" :shortcutdialog="shortcutdialog" class="col-3 zindex2"></property>
        <preference v-else :canvas="selectedCanvas" :canvasid="selectedCanvasId" :canvasstyle="selectedCanvasStyle" :multiview="isMultiView" @shortcutdialog-changed="shortcutdialog = false" :shortcutdialog="shortcutdialog" class="col-3 zindex2"></preference>
      </div>
    </v-app>

    <script src="main.js"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <!-- dependencies for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- http-vue-loader -->
    <script src="https://unpkg.com/http-vue-loader"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        vuetify: new Vuetify({
          // color themes for dark/light mode
          theme: {
            themes: {
              dark: {
                navbar: '#263238',
                toolbox: '#263238',
                sidebar: '#37474F',
                accent: '#098e8f',
                preview: '#0b6687',
                icon: '#FFFFFF',
                mode: '#ECEFF1',
                canvas: '#0FCCCE'
              },
              light: {
                navbar: '#90A4AE',
                toolbox: '#90A4AE',
                sidebar: '#CFD8DC',
                accent: '#A8DADC',
                preview: '#56a6c2',
                icon: '#000000',
                mode: '#37474F',
                canvas: '#0FCCCE'
              }
            },
          },
        }),

        components: {
          'navbar': httpVueLoader('./components/navbar.vue'),
          'leftpanel': httpVueLoader('./components/leftPanel.vue'),
          'property': httpVueLoader('./components/property.vue'),
          'preference': httpVueLoader('./components/preference.vue')
        },

        data() {
          return {
            // layer data
            layers: [],
            selectedLayer: null,
            selectedLayerTrigger: false,
            
            // player settings
            content: true,
            defaultSpeed: '1.0',
            defaultType: 'Autoplay',
            defaultDirection: 'Forward',
            speed: ['0.25', '0.5', '0.75', '1.0', '1.25', '1.5', '1.75', '2.0'],
            types: ['Autoplay', 'Hover', 'Bounce'],
            directions: ['Forward', 'Backward'],
            hoverFlag: false,

            // multiview
            isMultiView: false,
            selectedCanvasId: 0,
            selectedCanvas: null,
            selectedCanvasStyle: null,
            
            // snapshot
            snapshotDialog: false,
            snapshotName: '',
            snapshotURL: null,
            snapshotPause: false,
            
            // dialogs
            exportdialog: false,
            shortcutdialog: false
          }
        },
        computed: {
          isCanvas1Selected() {
            if (this.selectedCanvasId === 0) {
              return true
            } else {
              return false
            }
          },
          isCanvas2Selected() {
            if (this.selectedCanvasId === 1) {
              return true
            } else {
              return false
            }
          },
          isCanvas3Selected() {
            if (this.selectedCanvasId === 2) {
              return true
            } else {
              return false
            }
          },
          isCanvas4Selected() {
            if (this.selectedCanvasId === 3) {
              return true
            } else {
              return false
            }
          },
        },

        watch: {
          snapshotDialog() {
            if (this.snapshotDialog) {
              document.getElementById("playButton").innerHTML = "<em class='fas fa-play'></em>";
              if(rlottieHandler.playing) this.snapshotPause = true;
              rlottieHandler.pause();
            } else {
              if (this.snapshotPause) {
                document.getElementById("playButton").innerHTML = "<em class='fas fa-pause'></em>";
                this.snapshotPause = false;
                rlottieHandler.play();
              }
              this.snapshotName = '';
            }
          }
        },
        
        methods: {
          layerSelected(layer) {
            this.selectedLayer = layer
          },

          changePlay() {
            if (this.defaultDirection === 'Forward') setPlaySpeed(Number(this.defaultSpeed))
            else setPlaySpeed(Number(this.defaultSpeed) * -1)
          },

          changePlayType() {
            if(this.defaultType === "Hover") {
              document.getElementById("content").addEventListener("mouseover", playDisable);
              document.getElementById("content").addEventListener("mouseout", pauseDisable);
              rlottieHandler.isHover = true;
              this.hoverFlag = true;
              pauseDisable();
            }
            if(this.defaultType !== "Hover" && this.hoverFlag) {
              document.getElementById("content").removeEventListener("mouseover", playDisable);
              document.getElementById("content").removeEventListener("mouseout", pauseDisable);
              rlottieHandler.isHover = false;
              this.hoverFlag = false;
              play();
            }
            if(this.defaultType === "Bounce") {
              rlottieHandler.isBounce = true;
            }
            if(this.defaultType !== "Bounce") {
              rlottieHandler.isBounce = false;
              this.changePlay()
            }
          },

          changeIsMultiView(state) {
            this.isMultiView = state
            this.selectedLayerTrigger = !this.selectedLayerTrigger
            canvasResize(200, 200);
          },

          selectCanvas(id) {
            if (this.isMultiView) {
              this.selectedCanvasId = id;
              rlottieHandler.mainCanvasId = id;
              this.selectedCanvas = getRModule(id).canvas;
              this.selectedCanvasStyle = getRModule(id).canvasStyle;
              this.layers = getRModule(id).layerTree.child;
              this.selectedLayerTrigger = !this.selectedLayerTrigger;
              this.selectedLayer = null;
              setTimeout(_ => thumbnailHandler.setModuleCanvas(getRModule(id).layerTree.child), 100);
            };
          },

          extraButtonClick() {
            setTimeout(() => rlottieHandler.relayoutCanvas(), 350)
          },

          clickSnapShot() {
            rlottieHandler.setSnapshotURL();
          },

          clickSnapshotClose() {
            this.snapshotDialog = false
          }
        },

        created() {
          this.$vuetify.theme.dark = true
        }
      });
    </script>
  </body>

</html>