html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.content {
  height: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.renderer {
  width: 300px;
  height: 300px;
  background-color: red;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 15%;
  min-width: 250px;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 250px;
  height: 50px;
}

.bg_color_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
}

.speed {
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border {
  border-radius: 5px;
  border-width: 1px;
  border-style: groove;
}

.color_button_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width : 140px;
  max-width : 140px;
  background: lightergrey;
}

.color_button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.btn_white { background-color: white;}
.btn_black { background-color: black;}
.btn_red { background-color: red;}
.btn_green { background-color: green;}
.btn_blue { background-color: blue;}

/* .card {
  #box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} */

.justify-center {
  justify-content: center;
}

.text-xs {
  font-size: .75rem;
}

.border-grey-light {
  border-color: #dae1e7;
}

.bg-grey-lighter {
  background-color: #f1f5f8;
}

.rounded {
  border-radius: .25rem;
}

.text-grey-darkest {
  color: #3d4852;
}
.font-bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-left-10px {
  margin-left: 10px;
}

.scroll-sect-dark::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

.scroll-sect-dark::-webkit-scrollbar-track {
  background: #37474F;
}

.scroll-sect-dark::-webkit-scrollbar-corner {
  background: #37474F; 
}

.scroll-sect-dark::-webkit-scrollbar-thumb {
  background: #0b6687;
}

.scroll-sect-dark::-webkit-scrollbar-button {
  background-color: red;
  height: 0;
}

.scroll-sect-light::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

.scroll-sect-light::-webkit-scrollbar-track {
  background: #CFD8DC;
}

.scroll-sect-light::-webkit-scrollbar-corner {
  background: #CFD8DC; 
}

.scroll-sect-light::-webkit-scrollbar-thumb {
  background: #56a6c2;
}

.scroll-sect-light::-webkit-scrollbar-button {
  background-color: red;
  height: 0;
}

.player {
  height: 92vh;
  padding: 0;
  background-color: none;
}

.screen {
  height: 68vh;
  background-color: none
}

.toolbox-basic {
  height: 10vh;
  width: 100%;
}

.play-button {
  background-color: none;
}

.player-slider {
  min-width: 30vw;
}

.extra-tools {
  height: 12vh;
}

.scroll-sect {
  overflow-y: scroll; 
  height: 10vh;
}

.common-canvas {
  width: 100px;
  height: 100px;
  border: 1px solid #BEBEBE;
  transition: width 0.7s, height 0.7s, border-width 0.7s, border-radius 0.7s; 
  z-index: 1;
}

.multiview-resizing {
  width: 100px;
  height: 100px;
  border: 1px solid #BEBEBE;
  transition: width 0.7s, height 0.7s, border-width 0.7s, border-radius 0.7s; 
  z-index: 1;
}

.selected-canvas {
  outline: 5px solid #0fccce;
  transition: width 0.7s, height 0.7s, border-width 0.7s, border-radius 0.7s; 
  z-index: 1;
}

.zindex2 {
  z-index: 2;
}    

.canvas-chip {
  position: relative;
  bottom: 14vh;
}

.zindex3 {
  z-index: 3;
}

.snapshot-container {
  background-color: white;
}